<% provide(:title, 'Associar equipamentos') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Associar</h1>

    <%= render 'form', : @equipamentuser %>

    <%= link_to 'Voltar', equipamentusers_path %>
  </div>
</div>
