<% provide(:title, 'Meus equipamentos') %>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Equipamento</th>
      <th>Usuário</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipamentusers.each do |equipamentuser| %>
      <tr>
        <td><%= link_to equipamentuser.equipament.nome, sensors_path(chave: equipamentuser.equipament.chave, ativa: 'D', auxdata: Date.today.strftime("%d/%m/%Y")) %></td>
        <td><%= equipamentuser.user.name %></td>
        <% if session[:user_type] == 'A' %>
          <td><%= link_to 'Excluir', equipamentuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
