<% provide(:title, 'Novo equipamento') %>

<div class="divform">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form', equipament: @equipament %>
    </div>
  </div>
</div>
